# Python Arrays Practice (with array module)

This notebook includes **20 exercises** (easy to hard) to help me gain mastery over **Python Arrays** using the built-in `array` module.

ðŸ”¹ This notebook (only problems) was generated by ChatGPT.

ðŸ”¹ The problems were solved through my own efforts.

---

### 1. Import the `array` module and create an integer array with values [1, 2, 3, 4, 5].

In [5]:
import array as ar

ar1 = ar.array("i", [1, 2, 3, 4, 5])
print(ar1)

array('i', [1, 2, 3, 4, 5])

### 2. Append a new element (6) to the array.

In [6]:
ar1.append(6)
print(ar1)

array('i', [1, 2, 3, 4, 5, 6])

### 3. Insert an element (0) at the beginning of the array.

In [7]:
ar1.insert(0, 0)
print(ar1)

array('i', [0, 1, 2, 3, 4, 5, 6])

### 4. Remove the element 3 from the array.

In [8]:
ar1.remove(3)
print(ar1)

array('i', [0, 1, 2, 4, 5, 6])

### 5. Reverse the array.

In [9]:
ar1.reverse()
print(ar1)

array('i', [6, 5, 4, 2, 1, 0])

### 6. Access the third element of the array.

In [10]:
print(ar1[2])

4

### 7. Find the index of element 4.

In [11]:
print(ar1.index(4))

2

### 8. Count how many times a value occurs in the array.

In [12]:
ar1.count(3)

0

### 9. Convert the array to a normal Python list.

In [13]:
lst = list(ar1)
print(lst)

[6, 5, 4, 2, 1, 0]

### 10. Create a function that returns the maximum and minimum element in an array.

In [14]:
def max_min(ary):
    return f"Max: {max(ary)} and Min: {min(ary)}"

max_min(ar1)

'Max: 6 and Min: 0'

### 11. Multiply each element in the array by 2.

In [17]:
ar2 = ar.array("i", [n*2 for n in ar1])
print(ar2)

array('i', [12, 10, 8, 4, 2, 0])

### 12. Find the sum of all elements in the array.

In [18]:
print(sum(ar1))

18

### 13. Create an array from a list of even numbers between 1 and 20.

In [20]:
ar3 = ar.array("i", [n for n in range(1, 20) if n%2==0])
print(ar3)

array('i', [2, 4, 6, 8, 10, 12, 14, 16, 18])

### 14. Given an array, find and return all elements greater than the average.

In [22]:
def greater_than_avg(ary):
    return [n for n in ary if n > (sum(ary) / len(ary))]

greater_than_avg(ar3)

[12, 14, 16, 18]

### 15. Check if a given number exists in an array.

In [23]:
num = 13

print(num in ar3)

False

### 16. Merge two arrays into a single array.

In [24]:
print(ar1 + ar3)

array('i', [6, 5, 4, 2, 1, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18])

### 17. Create a function that removes all duplicates from an array.

In [ ]:
# solution-1: Using set, doesn't maintain order
def remove_duplicates(ary):
    unique_set = set(ary)
    return ar.array(ary.typecode, unique_set)

ar4 = ar.array("i", [2, 4, 3, 7, 2, 3, 7, 1])
remove_duplicates(ar4)

array('i', [1, 2, 3, 4, 7])

In [ ]:
# Solution-2: Maintains order
def remove_duplicates(ary):
    unique_array = ar.array(ary.typecode, [])
    for n in ary:
        if n not in unique_array:
            unique_array.append(n)
    return unique_array

remove_duplicates(ar4)

array('i', [2, 4, 3, 7, 1])

### 18. Sort the array in ascending order without using `.sort()` method.

### 19. Rotate the array to the left by 2 positions.

### 20. Write a program to find the second largest element in the array.