# Python List Practice (Intermediate to Advanced)

This notebook contains 30 exercises covering everything you need to know about Python lists â€” from basic usage to advanced methods and list comprehensions.

ðŸ”¹ Each problem is designed by ChatGPT to help me build mastery over list operations, performance tips, and Pythonic techniques.

ðŸ”¹ The problems were solved through my own efforts.

---

1. Create a list of integers from 1 to 10 using a loop and then using list comprehension.

In [2]:
# Using loop

lst = []

for n in range(1, 11):
    lst.append(n)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# Using list comprehension

lst = [n for n in range(1, 11)]

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the sum and average of a list of numbers.

In [127]:
lst = [5, 2, 7, 13, 6, 10, 3, 8]

lst_sum = sum(lst)

lst_avg = lst_sum / len(lst) if lst else 0

print(f'Sum: {lst_sum}\nAverage: {lst_avg}')

Sum: 54
Average: 6.75

3. Remove all duplicates from a list while maintaining order.

In [129]:
#solution-1

lst = [5, 2, 7, 10, 6, 10, 3, 7]
seen = set()
unique_lst= []

for item in lst:
    if item not in seen:
        seen.add(item)
        unique_lst.append(item)

lst = unique_lst.copy()

print(lst)

[5, 2, 7, 10, 6, 3]

In [131]:
#solution-2

lst = [5, 2, 7, 10, 6, 10, 3, 7]

unique_lst = list(dict.fromkeys(lst))

print(unique_lst)

[5, 2, 7, 10, 6, 3]

4. Sort a list of integers in descending order using the built-in `sort()` method.

In [132]:
lst = [5, 2, 7, 10, 6, 3]

lst.sort(reverse = True)

print(lst)

[10, 7, 6, 5, 3, 2]

5. Create a list of squares of even numbers from 0 to 20 using list comprehension.

In [15]:
lst = [n * n for n in range(21) if n % 2 == 0]

print(lst)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

6. Write a function that flattens a nested list (e.g., [[1,2],[3,4]] â†’ [1,2,3,4]).

In [133]:
def flatten_nested_list(lst: list):
    flattened_lst = []
    for item in lst:
        if isinstance(item, list):
            flattened_lst.extend(flatten_nested_list(item))
        else:
            flattened_lst.append(item)
    return flattened_lst

nested_lst = [2, [3, 4], 5, [6, 7]]

flatten_nested_list(nested_lst)

[2, 3, 4, 5, 6, 7]

7. Given a list of numbers, return a list with only the even values using filter or comprehension.

In [29]:
lst = [5, 2, 7, 10, 6, 3]

even_list = [i for i in lst if i % 2 == 0]

print(even_list)

[2, 10, 6]

8. Rotate a list to the right by k steps (e.g., [1,2,3,4,5] â†’ [4,5,1,2,3] for k=2).

In [ ]:
# Solution-1: using loop

lst = [1, 2, 3, 4, 5]

for i in range(2):
    last_item = lst.pop()
    lst.insert(0, last_item)
lst

[4, 5, 1, 2, 3]

In [36]:
# Solution-2: by slicing

lst = [1, 2, 3, 4, 5]
k = 2

k = k % len(lst) #ensuring k < length of list
lst = lst[-k:] + lst[:-k]

lst

[4, 5, 1, 2, 3]

9. Find the second largest number in a list with using `max()` or sorting.

In [37]:
lst = [5, 2, 7, 10, 6, 3]

largest_num = max(lst)

print(largest_num)

10

10. Count the occurrences of each element in a list and return as a dictionary.

In [37]:
lst = [5, 7, 2, 1, 5, 1, 7, 9, 4, 1, 2, 4]

freq = {}

for ele in lst:
    freq[ele] = freq.get(ele, 0) + 1

print(freq)

{5: 2, 7: 2, 2: 2, 1: 3, 9: 1, 4: 2}

11. Remove all falsy values (`None`, `0`, `False`, `''`) from a list.

In [24]:
lst = [True, 1, '', 5, 'Hello', None, 2, False, 'Python', 0, 10]

new_lst = [item for item in lst if bool(item)]
print(new_lst)

[True, 1, 5, 'Hello', 2, 'Python', 10]

12. Reverse a list in three different way.

In [23]:
#solution-1

lst = [5, 3, 8, 12, 1, 9]

reversed_lst = lst[::-1]
print(reversed_lst)

[9, 1, 12, 8, 3, 5]

In [ ]:
#solution-2

lst = [5, 3, 8, 12, 1, 9]

lst.reverse()
print(lst)

[9, 1, 12, 8, 3, 5]

In [ ]:
#solution-3

lst = [5, 3, 8, 12, 1, 9]
reversed_lst = []

for item in lst:
    new_lst.insert(0, item)

reversed_lst

[9, 1, 12, 8, 3, 5]

In [29]:
#solution-4

lst = [5, 3, 8, 12, 1, 9]
reversed_lst = []

for i in range(1, len(lst)+1):
    reversed_lst.append(lst[-i])

reversed_lst

[9, 1, 12, 8, 3, 5]

13. Partition a list into sublists of equal size n (e.g., [1,2,3,4] into [[1,2],[3,4]]).

In [40]:
def partition_list(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

my_lst = [1, 2, 3, 4, 5, 6, 7, 8]
partition_list(my_lst, 2)

[[1, 2], [3, 4], [5, 6], [7, 8]]

14. Find all indices of a given element in a list.

In [45]:
# solution-1

lst = [8, 3, 8, 12, 8, 9]
ele = 8
indices = []

for i in range(len(lst)):
    if lst[i] == ele:
        indices.append(i)
print(indices)

[0, 2, 4]

In [46]:
# solution-2

lst = [8, 3, 8, 12, 8, 9]
ele = 8

print([i for i in range(len(lst)) if lst[i] == ele])

[0, 2, 4]

In [ ]:
# solution-3

lst = [8, 3, 8, 12, 8, 9]
ele = 8

print([i for i, x in enumerate(lst) if x == ele])

[0, 2, 4]

15. Create a list from a string, removing all vowels.

In [53]:
text = "Data is the new oil"
vowel_set = {'a', 'e', 'i', 'o', 'u'}

lst = [char for char in text.lower() if char not in vowel_set and char != ' ']

print(lst)

['d', 't', 's', 't', 'h', 'n', 'w', 'l']

16. Merge two sorted lists into a single sorted list without using `+` or `extend()`.

In [59]:
lst1 = [0, 2, 4, 6, 8]
lst2 = [1, 3, 5, 7, 9]

for i in lst2:
    lst1.append(i)
lst1.sort()
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

17. Swap the first and last elements of a list.

In [ ]:
lst = [1, 2, 3, 4, 5]

lst[0], lst[-1] = lst[-1], lst[0]

print(lst)

[5, 2, 3, 4, 1]

18. Generate a list of tuples (index, value) from a list.

In [65]:
colors = ['black', 'blue', 'red', 'green', 'white']

tuple_lst = [(i, x) for i, x in enumerate(colors)]

print(tuple_lst)

[(0, 'black'), (1, 'blue'), (2, 'red'), (3, 'green'), (4, 'white')]

19. Remove items from a list that appear in another list.

In [ ]:
#solution-1

lst1 = [0, 1, 3, 5, 7, 9]
lst2 = [0, 2, 4, 5, 6, 8]

for i in lst2:
    if i in lst1:
        lst2.remove(i)

print(lst2)

[2, 4, 6, 8]

In [ ]:
#solution-2

lst1 = [0, 1, 3, 5, 7, 9]
lst2 = [0, 2, 4, 5, 6, 8]

lst = [i for i in lst2 if i not in lst1]

print(lst)

[2, 4, 6, 8]

20. Find the longest increasing subsequence in a list.

In [ ]:
def lis(nums):
    dp = [1] * len(nums)
    for i in range(1, len(nums)):
        for j in range(i):
            if nums[i] > nums[j]:
                dp[i] = max(dp[i], dp[j] + 1)
    return max(dp)

nums = [9, 5, 8, 3, 67, 12, 15, 7, 80]

lis(nums)

5

21. Create a list of dictionary values from a list of dictionaries (e.g., extract 'name' key).

In [81]:
people = [
    {"name": "Mohammad", "age": 25},
    {"name": "Rakin", "age": 30},
    {"name": "Ayan", "age": 35}
]

names = [person['name'] for person in people]
print(names)

['Mohammad', 'Rakin', 'Ayan']

22. Multiply all items in a list.

In [ ]:
#solution-1

lst = [9, 5, 8, 3, 67, 12, 15, 7, 80]
product = 1

for n in lst:
    product *= n

print(product)

7293888000

In [84]:
#solution-2

from math import prod

lst = [9, 5, 8, 3, 67, 12, 15, 7, 80]

product = prod(lst)
print(product)

7293888000

23. Split a list into two lists: one with even and one with odd numbers.

In [86]:
lst = [9, 5, 8, 3, 67, 12, 15, 7, 80]

lst_even = [i for i in lst if i % 2 == 0]
lst_odd = [i for i in lst if i % 2 != 0]

print(lst_even)
print(lst_odd)

[8, 12, 80]
[9, 5, 3, 67, 15, 7]

24. Write a custom function to replicate `list.index()`.

In [102]:
lst = [9, 5, 8, 3, 67, 12, 15, 7, 80]

def find_index(lst, val, start = 0, end = None):
    if end is None:
        end = len(lst)
    for i in range(start, end):
        if lst[i] == val:
            return i
    return None 
print(find_index(lst, 15))

6

25. Check if two lists are permutations of each other.

In [106]:
lst1 = [1, 7, 4, 9, 5]
lst2 = [9, 4, 1, 5, 7]

is_permutation = sorted(lst1) == sorted(lst2)

print('Two lists are permutations of each other' if is_permutation else 'Two lists are not permutations of each other')

Two lists are permutations of each other

26. Identify and return the most frequent item(s) in a list.

In [118]:
lst = [5, 2, 8, 5, 9, 2, 5, 1]

counts = {}

for i in lst:
    counts[i] = counts.get(i, 0) + 1

max_count = max(counts.values())

print(*[item for item, count in counts.items() if count == max_count])

5

27. Remove all strings with length less than 4 from a list.

In [ ]:
texts = ['Hello', 'world', 'i', 'am', 'learning', 'data', 'science']

new_texts = [text for text in texts if len(text) >= 4]
print(new_texts)

['Hello', 'world', 'learning', 'data', 'science']

28. Zip three lists together and convert to list of dictionaries.

In [126]:
keys = ['name', 'age', 'city']
names = ['Mohammad', 'Rakin', 'Ayan']
ages = [25, 30, 35]

people = [dict(zip(keys, values)) for values in zip(names, ages)]

print(people)

[{'name': 'Mohammad', 'age': 25}, {'name': 'Rakin', 'age': 30}, {'name': 'Ayan', 'age': 35}]

29. Use list comprehension with if-else to create a list of 'even'/'odd' for numbers 1â€“20.

In [122]:
nums = ['even' if num % 2 == 0 else 'odd' for num in range(1, 21)]
print(nums)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

30. Write a one-liner list comprehension to extract digits from a given string.

In [135]:
text = "A1j79d5ff3i09u6d"

print([char for char in text if char.isdigit()])

['1', '7', '9', '5', '3', '0', '9', '6']