# Python List Manipulation Practice

This notebook includes **10 exercises** on Python **list manipulation** — from basic operations to advanced use cases.

These exercises are crafted by ChatGPT to improve my command over:
- Indexing and slicing
- Insertion and deletion
- Sorting, filtering, and nested lists
- Real-life problem solving with lists

✅ The problems were solved through my own efforts.

---

### 1. Reverse a list without using built-in reverse methods.

In [5]:
def reverse_list(lst): # Remove the original list
    reversed_list = []
    for n in range(len(lst)):
        last_item = lst.pop()
        reversed_list.append(last_item)
    return reversed_list

my_list = [11, 3, 5, 17, 9, 2, 14, 6, 8, 20]
reverse_list(my_list)

[20, 8, 6, 14, 2, 9, 17, 5, 3, 11]

In [6]:
def reverse_list(lst): # Original list remains same
    reversed_list = []
    for n in range(1, len(lst) + 1):
        reversed_list.append(lst[-n])
    return reversed_list

my_list = [11, 3, 5, 17, 9, 2, 14, 6, 8, 20]
reverse_list(my_list)

[20, 8, 6, 14, 2, 9, 17, 5, 3, 11]

### 2. Remove all occurrences of a specific element from a list.

In [7]:
def remove_element(lst, ele):
    for item in lst:
        if item == ele:
            lst.remove(item)
    return lst

my_list = [2, 4, 3, 4, 7, 5, 4, 8, 9]
remove_element(my_list, 4)

[2, 3, 7, 5, 8, 9]

In [8]:
def remove_element(lst, ele):
    return [item for item in lst if item != ele]

my_list = [2, 4, 3, 4, 7, 5, 4, 8, 9]
remove_element(my_list, 4)

[2, 3, 7, 5, 8, 9]

### 3. Extract all even numbers from a list using list comprehension.

In [9]:
def even_list(lst):
    return [n for n in lst if n % 2 == 0]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
even_list(my_list)

[2, 4, 6, 8, 0]

### 4. Insert an element at the second position of a list.

In [12]:
my_list = ['Black', 'Green', 'Red', 'White']
my_list.insert(1, 'Blue')
print(my_list)

['Black', 'Blue', 'Green', 'Red', 'White']

### 5. Sort a list of integers in descending order without using `sort()` or `sorted()`.

In [15]:
my_list = [3, 1, 9, 4, 7, 2, 5, 8, 6]

def sort_list(lst):
    for i in range(len(lst)):
        min_idx = i
        for j in range(i + 1, len(lst)):
            if lst[j] < lst[min_idx]:
                min_idx = j
        lst[i], lst[min_idx] = lst[min_idx], lst[i]
    return lst
sort_list(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 6. Merge two lists into one without using `+` or `extend()`.

In [ ]:
def merge_lists(lst1, lst2): # Modify first list
    for i in lst2:
        lst1.append(i)
    return lst1

list_1 = [1, 2, 3, 4]
list_2 = [5, 6, 7, 8]
merge_lists(list_1, list_2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
def merge_list(lst1, lst2): # Preserve original lists
    return [*lst1, *lst2]

list_1 = [1, 2, 3, 4]
list_2 = [5, 6, 7, 8]
merge_list(list_1, list_2)

[1, 2, 3, 4, 5, 6, 7, 8]

### 7. Flatten a nested list: `[[1, 2], [3, 4], [5]]` into `[1, 2, 3, 4, 5]`.

In [5]:
def flatten_list(nested_list):
    flattened_list = []
    for item in nested_list:
        if isinstance(item, list):
            flattened_list.extend(flatten_list(item))
        else:
            flattened_list.append(item)
    return flattened_list

my_list = [[1, 2], [3, 4], [5, [6, 7]]]
flatten_list(my_list)

[1, 2, 3, 4, 5, 6, 7]

### 8. Remove duplicate elements from a list while maintaining order.

### 9. Find the second largest number in a list.

### 10. Given a list of students and scores, filter students who scored more than 75.