# Python Sets Practice

This notebook includes **25 exercises** (easy to hard) to help me master **Python Sets**.

ðŸ”¹ This notebook (only problems) was generated by ChatGPT.

ðŸ”¹ The problems were solved through my own efforts.

---

### 1. Create a set of numbers from 1 to 5.

In [ ]:
set1 = {n for n in range(1, 6)}
print(set1)

{1, 2, 3, 4, 5}

### 2. Add a new element to a set.

In [ ]:
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [ ]:
set1.remove(3)
print(set1)

{1, 2, 4, 5, 6}

### 4. Clear all elements from a set.

In [ ]:
set1.clear()
print(set1)

set()

### 5. Check if an element exists in a set.

In [ ]:
colors = {'black', 'blue', 'red', 'white', 'green'}
print('red' in colors)

True

### 6. Find the union of two sets.

In [10]:
s1 = {1, 2, 4, 6, 7}
s2 = {2, 3, 4, 5, 6}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

### 7. Find the intersection of two sets.

In [11]:
s1.intersection(s2)

{2, 4, 6}

### 8. Find the difference between two sets.

In [12]:

s1.difference(s2)

{1, 7}

In [13]:
s2.difference(s1)

{3, 5}

### 9. Find the symmetric difference between two sets.

In [14]:

s1.symmetric_difference(s2)

{1, 3, 5, 7}

### 10. Convert a list with duplicates into a set.

In [15]:

lst = [3, 6, 4, 6, 1, 7, 3, 5, 1]

converted_set = set(lst)
print(converted_set)

{1, 3, 4, 5, 6, 7}

### 11. Given two sets, check if they are disjoint.

In [18]:

s1 = {1, 3, 5}
s2 = {2, 4, 6}

s1.isdisjoint(s2)

True

### 12. Check if one set is a subset of another.

In [19]:

s1 = {1, 2, 3, 4, 5}
s2 = {3, 5}

s2.issubset(s1)

True

### 13. Check if one set is a superset of another.

In [20]:

s1.issuperset(s2)

True

### 14. Pop an arbitrary element from a set.

In [21]:

s1.pop()

1

In [22]:
print(s1)

{2, 3, 4, 5}

### 15. Copy a set into a new set.

In [23]:

my_set = {'a', 'b', 'c', 'd'}

copy_set = my_set.copy()
print(copy_set)

{'d', 'a', 'c', 'b'}

### 16. Given a sentence, find all unique characters.

In [24]:
text = "Data is new oil"

unique_char = set(text)
print(unique_char)

{' ', 'D', 'e', 'l', 'w', 'o', 'a', 'i', 'n', 't', 's'}

### 17. Remove all vowels from a sentence using sets.

In [ ]:
vowel_set = {'a', 'e', 'i', 'o', 'u'}
text = "Data is new oil"
# print(*[char for char in text if char not in vowel_set])
cleaned_text = ""

for char in text:
    if char not in vowel_set:
        cleaned_text += char
print(cleaned_text)

Dt s nw l

### 18. Find common items in two lists using sets.

In [ ]:
lst1 = ['pen', 'paper', 'ruler']
lst2 = ['paper', 'pencil', 'eraser']

print(list(set(lst1).intersection(set(lst2))))

['paper']

### 19. Find elements in list A not in list B using sets.

In [32]:
print(list(set(lst1).difference(set(lst2))))

['ruler', 'pen']

### 20. Create a set of even numbers from 1 to 20.

In [33]:

even_nums = set(n for n in range(2, 21, 2))
print(even_nums)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

### 21. Write a function that returns the intersection of all sets in a list.

In [ ]:
# Solution-1: Solved with my own effort 
def find_intersection(lst):
    if not lst:
        return set()
    for i in range(len(lst)-1):
        lst[i+1].intersection_update(lst[i])
    return lst[-1]

find_intersection([{1,2,3}, {2,3,4}, {3,4,5}])

{3}

In [2]:
# Solution-2: Solved with help of DeepSeek
def find_intersection(lst):
    if not lst:
        return set()
    result_set = lst[0]
    for ele in lst[1:]:
        result_set.intersection_update(ele)
    return result_set

find_intersection([{1,2,3}, {2,3,4}, {3,4,5}])

{3}

### 22. Given a list of strings, return all unique words.

In [ ]:
# Solution-1: Solved with my own effort 
texts = ['data science', 'data is new oil', 'science is not objective']
result = set(texts[0].split())
for text in texts[1:]:
    result = result.union(set(text.split()))
print(result)

{'is', 'oil', 'science', 'new', 'data', 'objective', 'not'}

In [ ]:
# Solution-2: Solved with help of DeepSeek
texts = ['data science', 'data is new oil', 'science is not objective']
unique_set = set()

for text in texts:
    unique_set.update(text.split())
print(unique_set)

{'is', 'oil', 'science', 'new', 'data', 'objective', 'not'}

### 23. Find the first non-repeating character in a string using set logic.

In [11]:
text = "data science"

def first_non_repeating_char(string):
    freq = {}
    seen = set()
    candidate = []
    for char in string:
        if char not in seen:
            seen.add(char)
            candidate.append(char)
        freq[char] = freq.get(char, 0) + 1
    for char in candidate:
        if freq[char] == 1:
            return char
    return None

first_non_repeating_char(text)

'd'

### 24. Write a program to find duplicate elements in a list using sets.

In [14]:
def find_duplicates(lst):
    seen = set()
    duplicates = set()

    for ele in lst:
        if ele not in seen:
            seen.add(ele)
        else:
            duplicates.add(ele)
    return duplicates

my_list = [2, 4, 3, 7, 4, 2, 6]

find_duplicates(my_list)

{2, 4}

### 25. You are given two datasets of users who bought product A and B. Find users who bought both, only A, and only B.

In [19]:
# Solution-1
buyer_of_product_a = {"Asif", "Adnan", "Fahad", 'Russel', "Yash"}
buyer_of_product_b = {"Ayan", "Asif", "John", "Kabir", "Fahad"}

buyer_of_both = set()
buyer_of_only_a = set()
buyer_of_only_b = set()

for ele in buyer_of_product_a:
    if ele in buyer_of_product_b:
        buyer_of_both.add(ele)
    else:
        buyer_of_only_a.add(ele)
buyer_of_only_b = buyer_of_product_b.difference(buyer_of_both)

print(f"{buyer_of_both} brought both products.")
print(f"{buyer_of_only_a} brought only product A.")
print(f"{buyer_of_only_b} brought only product B.")

{'Fahad', 'Asif'} brought both products.
{'Yash', 'Adnan', 'Russel'} brought only product A.
{'John', 'Kabir', 'Ayan'} brought only product B.

In [20]:
# Solution-2
buyer_of_product_a = {"Asif", "Adnan", "Fahad", 'Russel', "Yash"}
buyer_of_product_b = {"Ayan", "Asif", "John", "Kabir", "Fahad"}

buyer_of_both = buyer_of_product_a.intersection(buyer_of_product_b)
buyer_of_only_a = buyer_of_product_a.difference(buyer_of_both)
buyer_of_only_b = buyer_of_product_b.difference(buyer_of_both)

print(f"{buyer_of_both} brought both products.")
print(f"{buyer_of_only_a} brought only product A.")
print(f"{buyer_of_only_b} brought only product B.")

{'Fahad', 'Asif'} brought both products.
{'Yash', 'Adnan', 'Russel'} brought only product A.
{'John', 'Kabir', 'Ayan'} brought only product B.