# üêº Python Pandas Practice Exercises
- Learnning and mastering Python's powerful data manipulation library ‚Äî Pandas.

- This notebook contains a series of progressively challenging exercises (with real-world context) to help you become a Pandas pro.


## üìò Instructions followed:
- Read the problem description carefully.
- Tried to solve the exercises using **Pythonic and efficient Pandas operations**.
- Did **not** use any external libraries unless specified.

Let's begin!

### 1. Create a Pandas Series from a Python list `[10, 20, 30, 40, 50]`.

### 2. Create a Series with custom index labels using `[100, 200, 300]` and labels `['a', 'b', 'c']`.

### 3. Retrieve the 2nd and 3rd elements from a Series.

### 4. Add two Series element-wise.

### 5. Apply a lambda function to square each element of a numeric Series.

### 6. Create a Pandas DataFrame from a dictionary with columns: Name, Age, and City.

### 7. Retrieve the first 3 rows of a DataFrame.

### 8. Select only the 'Name' and 'City' columns from the DataFrame.

### 9. Filter all rows where age is above 30.

### 10. Add a new column 'Salary' with values `[50000, 60000, 70000]`.

### 11. Sort the DataFrame by 'Age' in descending order.

### 12. Reset the index of a DataFrame.

### 13. Set the 'Name' column as index.

### 14. Filter rows where 'City' is either 'New York' or 'Los Angeles'.

### 15. Replace missing values in a DataFrame with the column mean.

### 16. Group the DataFrame by 'City' and compute average 'Salary'.

### 17. Use `apply()` to calculate the length of each name in 'Name' column.

### 18. Add a new column 'Tax' that is 10% of the Salary using `apply()`.

### 19. Filter groups with more than 1 entry using `groupby`.

### 20. Create a pivot table of average Salary by City and Age.

### 21. Merge two DataFrames on a common column 'ID'.

### 22. Perform a left join using Pandas.

### 23. Concatenate two DataFrames vertically (stack rows).

### 24. Concatenate two DataFrames horizontally (side-by-side).

### 25. Join two DataFrames with different column names but similar data using `left_on` and `right_on`.

### 26. Load a CSV file into a Pandas DataFrame (e.g., 'sales.csv').

### 27. Find top 5 products with highest total sales from the sales data.

### 28. Convert a date column to datetime and extract the year.

### 29. Create a rolling average column for 'Sales' with a window of 3.

### 30. Identify and drop duplicate rows based on 'Order ID'.