![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas DataFrame exercises

ðŸ§  This notebook was created by `FreeCodeCamp` as a part of their `Data Analysis with Python` course.

âœ… The problems were solved through my own efforts.

In [ ]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Print the pandas version and the configuration
print(pd.__version__)



## DataFrame creation

### Create an empty pandas DataFrame

In [ ]:
#Â your code goes here

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>



###Â Create a `marvel_df` pandas DataFrame with the given marvel data

In [ ]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [ ]:
#Â your code goes here



###Â Add column names to the `marvel_df`

In [ ]:
#Â your code goes here



###Â Add index names to the `marvel_df` (use the character name as index)

In [ ]:
#Â your code goes here



###Â Drop the name column as it's now the index

In [ ]:
#Â your code goes here



###Â Drop 'Namor' and 'Hank Pym' rows

In [ ]:
#Â your code goes here



## DataFrame selection, slicing and indexation

###Â Show the first 5 elements on `marvel_df`

In [ ]:
#Â your code goes here



###Â Show the last 5 elements on `marvel_df`

In [ ]:
#Â your code goes here



###Â Show just the sex of the first 5 elements on `marvel_df`

In [ ]:
#Â your code goes here



###Â Show the first_appearance of all middle elements on `marvel_df`

In [ ]:
#Â your code goes here



###Â Show the first and last elements on `marvel_df`

In [ ]:
#Â your code goes here



## DataFrame manipulation and operations

### Modify the `first_appearance` of 'Vision' to year 1964

In [ ]:
#Â your code goes here



### Add a new column to `marvel_df` called 'years_since' with the years since `first_appearance`

In [ ]:
#Â your code goes here



## DataFrame boolean arrays (also called masks)

### Given the `marvel_df` pandas DataFrame, make a mask showing the female characters

In [ ]:
#Â your code goes here



### Given the `marvel_df` pandas DataFrame, get the male characters

In [ ]:
#Â your code goes here



### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [ ]:
#Â your code goes here



### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [ ]:
#Â your code goes here



## DataFrame summary statistics

###Â Show basic statistics of `marvel_df`

In [ ]:
#Â your code goes here



### Given the `marvel_df` pandas DataFrame, show the mean value of `first_appearance`

In [ ]:
#Â your code goes here



### Given the `marvel_df` pandas DataFrame, show the min value of `first_appearance`

In [ ]:
#Â your code goes here



### Given the `marvel_df` pandas DataFrame, get the characters with the min value of `first_appearance`

In [ ]:
#Â your code goes here



## DataFrame basic plottings

### Reset index names of `marvel_df`

In [ ]:
#Â your code goes here



###Â Plot the values of `first_appearance`

In [ ]:
#Â your code goes here



###Â Plot a histogram (plot.hist) with values of `first_appearance`

In [ ]:
#Â your code goes here