![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

ðŸ§  This notebook was created by `FreeCodeCamp` as a part of their `Data Analysis with Python` course.

âœ… The problems were solved through my own efforts.

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.2.3



## Series creation

### Create an empty pandas Series

In [4]:
empty_series = pd.Series()
empty_series

Series([], dtype: object)



###Â Given the X python list convert it to an Y pandas Series

In [5]:
X = [76, 87, 94, 82, 89]
Y = pd.Series(X)
Y

0    76
1    87
2    94
3    82
4    89
dtype: int64



###Â Given the X pandas Series, name it 'My letters'

In [6]:
X = pd.Series([76, 87, 94, 82, 89])
X.name = "Student mark"
X

0    76
1    87
2    94
3    82
4    89
Name: Student mark, dtype: int64



###Â Given the X pandas Series, show its values

In [7]:
X.values

array([76, 87, 94, 82, 89])

In [8]:
type(X.values)

numpy.ndarray



## Series indexation

###Â Assign index names to the given X pandas Series

In [9]:
X.index = ["Bangla", "English", "Math", "Science", "ICT"]
X

Bangla     76
English    87
Math       94
Science    82
ICT        89
Name: Student mark, dtype: int64



###Â Given the X pandas Series, show its first element

In [10]:
X.iloc[0]

np.int64(76)



###Â Given the X pandas Series, show its last element

In [11]:
X.iloc[-1]

np.int64(89)



###Â Given the X pandas Series, show all middle elements

In [12]:
X.iloc[1:-1]

English    87
Math       94
Science    82
Name: Student mark, dtype: int64


###Â Given the X pandas Series, show the elements in reverse position

In [13]:
X.iloc[::-1]

ICT        89
Science    82
Math       94
English    87
Bangla     76
Name: Student mark, dtype: int64


###Â Given the X pandas Series, show the first and last elements

In [14]:
print(X["Bangla"])
print(X["ICT"])

76
89

In [15]:
X.iloc[[0, -1]]

Bangla    76
ICT       89
Name: Student mark, dtype: int64

In [17]:
X[[0, -1]]

C:\Users\Babu\AppData\Local\Temp\ipykernel_10560\2669949452.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  X[[0, -1]]

Bangla    76
ICT       89
Name: Student mark, dtype: int64



## Series manipulation

### Convert the given integer pandas Series to float

In [21]:
pd.Series(X, dtype=np.float32)

Bangla     76.0
English    87.0
Math       94.0
Science    82.0
ICT        89.0
Name: Student mark, dtype: float32



### Reverse the given pandas Series (first element becomes last)

In [22]:
X[::-1]

ICT        89
Science    82
Math       94
English    87
Bangla     76
Name: Student mark, dtype: int64


### Order (sort) the given pandas Series

In [ ]:
X.sort_values()

Bangla     76
Science    82
English    87
ICT        89
Math       94
Name: Student mark, dtype: int64



### Given the X pandas Series, set the fifth element equal to 10

In [27]:
X.iloc[4] = 10
X

Bangla     76
English    87
Math       94
Science    82
ICT        10
Name: Student mark, dtype: int64



### Given the X pandas Series, change all the middle elements to 0

In [28]:
X.iloc[1:-1] = 0

In [29]:
X

Bangla     76
English     0
Math        0
Science     0
ICT        10
Name: Student mark, dtype: int64



### Given the X pandas Series, add 5 to every element

In [30]:
X + 5

Bangla     81
English     5
Math        5
Science     5
ICT        15
Name: Student mark, dtype: int64



##Â Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [33]:
#Â your code goes here



### Given the X pandas Series, get the negative elements

In [ ]:
#Â your code goes here



### Given the X pandas Series, get numbers higher than 5

In [ ]:
#Â your code goes here



### Given the X pandas Series, get numbers higher than the elements mean

In [ ]:
#Â your code goes here



### Given the X pandas Series, get numbers equal to 2 or 10

In [ ]:
#Â your code goes here



## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [ ]:
#Â your code goes here



### Given the X pandas Series, return True if any of its elements is zero

In [ ]:
#Â your code goes here



## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [ ]:
#Â your code goes here



### Given the X pandas Series, show the mean value of its elements

In [ ]:
#Â your code goes here


### Given the X pandas Series, show the max value of its elements

In [ ]:
#Â your code goes here